# Node modules
node_modules/

# Build output
dist/
dist.zip

# Local environment files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor config
.idea/
.vscode/

# System files
.DS_Store

# Optional: lock files (si usas package-lock.json o yarn.lock)
# package-lock.json
# yarn.lock

# Otros archivos temporales
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
